<!DOCTYPE html>
<html>
<head>
  <title>Scrabble</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='scrabble.css' type='all'>
</head>

<body>
  <div class='container'>
    <div class='one'>
      <h1>LETS SCRABBLE</h1>
    </div>
    <p>Here is a game to play</p>

      <form action='/result'>
        <input type ='text' class ='btn' name ='p1' id = 'p1' placeholder='scrabble_letter'>

        <button type ='submit'class ='btn'>Submit</button>
    </form>
  </div>
</body>
</html>
