


<!DOCTYPE html>
<html>
<head>
  <title>Scrabble</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='scrabble.css' type='all'>
</head>
<h1>You scored!</h1>
<body>
  <div class= "result_num">


  <p><%= @result %></p>
</div>
</body>
</html>
